# Dependencies
node_modules/

# Test output
test-output/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Coverage
coverage/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp